[submodule "/home/manuelpadilla/sources/reposUbuntu/PROTOFIRE/DeveloperStudio-v1.0/submodules/cardano-address-tools"]
	path = /home/manuelpadilla/sources/reposUbuntu/PROTOFIRE/DeveloperStudio-v1.0/submodules/cardano-address-tools
	url = https://github.com/manupadillaph/cardano-address-tools.git
