[submodule "/home/manuelpadilla/sources/reposUbuntu/PROTOFIRE/DeveloperStudio-v1.0/submodules"]
	path = /home/manuelpadilla/sources/reposUbuntu/PROTOFIRE/DeveloperStudio-v1.0/submodules
	url = https://github.com/manupadillaph/cardano-address-tools.git
